.formulario-container {
  padding: 2rem;
  min-height: calc(100vh - 80px);
  text-align: center;
}

.formulario-container h1 {
  color: #dda930;
  margin-bottom: 1rem;
}

.formulario-container p {
  color: #8e521a;
  font-size: 1.2rem;
}